{% extends "base.html" %}
{% load static %}



{% block title %}
  {% if group %}{{ group.group_name }}{% else %}<p>hello</p>{% endif %}
{% endblock %}

{% block content %}
  <div class="group_detail">
    <h1>{{ group.group_name }}</h1>
    <h3>Group Members</h3>
    {% for mem in group_members %}
      <div class="member">
        <a href="{{ mem.get_absolute_url }}">{{ mem }}</a>
      </div>
    {% endfor %}
    <h3>Languages</h3>
    {% for lang in languages %}
      <div class="language">
        <p>{{ lang }}</p>
      </div>
    {% endfor %}
    <h4>Group Status</h4>
    <p class="status">${{ group.status }}</p>
    <h4>Description</h4>
    {{ group.description|linebreaks }}
  </div>
{% endblock %}