{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
  <div id="sidebar">
    <h3>My_login_name, my_email</h3>
    <li>
      <button>Create Group</button>
      <button>Account Setting</button>
      <button>Logout</button>
    </li>
  </div>
  <div id="main" class="group_list">
    <h1>Groups</h1>
    {% for group in all_groups %}
      <div class="group_detail">
        <p>{{ group.group_name }}</p>
        <a href=""><button>join</button></a>
        <a href="{{ group.get_absolute_url }}"><button>detail</button></a>
      </div>
    {% endfor %}
  </div>
  <div id="main" class="user_list">
    <h1>All Users</h1>
    {% for user in all_users %}
      <div class="user_detail">
        <a href="{{ user.get_absolute_url }}">{{ user }}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}


