{% extends "base.html" %}
{% load static %}


{% block title %}
  {% if user %}{{ user.name }}{% else %}<p>hello</p>{% endif %}
{% endblock %}

{% block content %}
  <div class="user_detail">
    <h1>{{ user }}</h1>
    <h2>Group Name:</h2> 
    <a href="{{ user.group.get_absolute_url }}">>{{ user.group }}</a>
    <br>
    <h2>languages</h2>
    {% for lang in languages %}
      <p>{{ lang }}</p>
    {% endfor %}
    <br>
    <br>
    <h3>About - {{user.name}}</h3>
    {{ user.introduction|linebreaks }}
  </div>
{% endblock %}